<%- include('../../partials/head.ejs')%>

<div class="container my-5">
    <div class="row">
        <div class="col-md-2">
            <%- include('../../partials/sidebar.ejs') %>
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="card car-body mb-3">
                <form action="/auth/changePassword" method="post">
                    <label for="cur">Current Password</label>
                    <input class="form-control" type="password" name="currentPassword" id="cur">
                    <label for="new">New Password</label>
                    <input class="form-control" type="password" name="newPassword" id="new">
                    <label for="conf">Confirm Password</label>
                    <input class="form-control" type="password" name="confirmPassword" id="conf">
                    <button class="btn btn-primary" type="submit">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs')%>